.footer {
    background-color: #f7f9fb;
    background-image: url('https://dev.foodotawp.com/wp-content/themes/foodota/libs/images/dots-new.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;

    .container {
        max-width: 100%;
        padding: 50px 80px;

        @media screen and (max-width:992px) {
            padding: 50px 40px;
        }

        .footer_widget {
            @media screen and (max-width:1200px) {
                margin-bottom: 50px;
            }

            .logo {
                color: #4C3D3D;
                font-size: 30px;
                font-weight: 500;
                letter-spacing: 1.25px;
                margin-bottom: 120px;

                @media screen and (max-width:1200px) {
                    margin-bottom: 50px;
                }
            }

            .dowloadApp img {
                margin-right: 20px;
            }
        }

        ul {
            list-style: none;

            @media screen and (max-width:1200px) {
                margin-bottom: 50px;
                margin-left: 0;
            }

            li {
                padding: 10px 0;

                a {
                    color: #4C3D3D;
                    font-size: 1rem;
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }

                    @media screen and (max-width:1200px) {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .moreInfoFooter {
            border-top: 1px solid #dcd8d894;
            padding-top: 35px;
            margin-top: 20px;

            .iconMedia {
                font-size: 1.2rem;
                margin: 0 7px;

                a {
                    color: #4C3D3D;
                }
            }

            .policy {
                @media screen and (max-width:1200px) {
                    justify-content: start !important;
                    margin-top: 20px;
                }

                a {
                    color: #4C3D3D;
                    font-size: 15px;
                    font-weight: 500;
                    padding-left: 40px;

                    @media screen and (max-width:1200px) {
                        padding: 0 50px 0 0;
                    }
                }
            }

            .footerInfor {

                .left_footer {

                    @media screen and (max-width:1200px) {
                        display: none;
                    }
                }

                .content_footer {
                    @media screen and (max-width:1200px) {
                        justify-content: flex-start  !important;
                    }
                }
            }

        }
    }
}