.nav_container {
    background-color: #4C3D3D !important;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1) !important;
    font-family: 'Poppins', sans-serif;

    .nav {
        padding: 15px 35px;

        @media screen and (max-width:992px) {
            padding: 15px 15px;
        }

        .bars_mobile {
            display: none;

            @media screen and (max-width:992px) {
                display: block;
            }
        }

        @media screen and (max-width:992px) {
            .nav_mobile {
                flex: 0 0 100%
            }
        }


        .logo {
            color: #fff;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 1.25px;

            @media screen and (max-width:992px) {
                font-size: 20px;
            }
        }

        .login {
            padding: 10px 30px;
            margin: 0 5px;
            font-size: 15px;
            font-weight: 500;
            border: 1px solid #f9db77;
            border-radius: 5px;
            transition: .25s;
            cursor: pointer;

            @media screen and (max-width:1060px) {
                padding: 8px 17px;
            }

            &:hover {
                border: 1px solid #fff;
                transition: .25s;
                box-shadow: 0 0 2px 0px #b3b2b2;
            }

            &:hover span {
                color: #fff;
                transition: .25s;
            }

            span {
                color: #FFD95A;
                transition: .25s;
            }
        }

        .login_mobile {
            display: none;

            @media screen and (max-width: 992px) {
                display: block;
            }
        }

        .menu {
            @media screen and (max-width: 992px) {
                display: none;
            }

            .menuOptions {
                list-style: none;
                margin-right: 20px;

                li {
                    display: inline-block;
                    padding: 0 17px;

                    a {
                        color: #fff;
                        font-size: 17px;
                        font-weight: 600;
                    }

                    &:hover a {
                        color: #FFD95A;
                        transition: .25s;
                    }
                }

                .selected a {
                    text-decoration: underline;
                    color: #FFD95A;
                }

                .headerForm {
                    position: relative;

                    .iconLocation {
                        position: absolute;
                        z-index: 10;
                        top: 50%;
                        left: 8%;
                        transform: translateY(-50%);
                        color: #FFD95A;

                        svg {
                            height: 17px;
                            width: 17px;
                        }
                    }

                    .selectForm {
                        // span {
                        //     text-align: center;
                        // }


                        &>div {
                            padding-left: 22px;
                        }

                        input {
                            width: 90%;
                        }
                    }
                }
            }
        }

    }
}