.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1580px;
    margin: 0 auto;
    line-height: 80px;
    margin-top: 67px;

    h2 {
        margin: 0;
    }

    .redirect {
        color: #7a7a7a;
    }
}