.cart_page {
    font-family: 'Poppins', sans-serif;
    margin-top: 67px;

    a {
        text-decoration: none;
    }

    .container {
        max-width: 100%;
        padding: 20px 120px;

        @media screen and (max-width:1200px) {
            padding: 20px 60px;
        }

        @media screen and (max-width:500px) {
            padding: 20px 20px;
        }

        .select {
            width: 83% !important;
            padding: 20px 0;
            background-color: transparent;
            display: block;
            // @media screen and (max-width:576px) {
            //     width: 100% !important;
            // }

            div {
                border-radius: 0 !important;
            }

            input {
                background-color: transparent;
            }
        }

        .info_ship {
            padding: 0 10px;

            @media screen and (max-width:768px) {
                margin-bottom: 25px;
            }

            .input_form {
                width: 100% !important;
                padding: 10px;
                background-color: transparent;
                border-radius: 0;

                &:hover {
                    box-shadow: 0 0 2px 0px #4C3D3D;
                }

                &:focus {
                    box-shadow: 0 0 2px 0px #4C3D3D !important;

                }

                input {
                    background-color: transparent;
                }
            }

            .btn_login {
                padding: 10px;
                border: none;
                background-color: #252525;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 1.5px;
                font-family: 'Poppins', sans-serif;
                cursor: pointer;
                transition: 0.3s;
                color: #fff;


                &:hover {
                    background-color: #4C3D3D;
                    color: #fff;
                }

                &:active {
                    opacity: 0.8;
                }
            }
        }

        .shipment_method {
            @media screen and (max-width:768px) {
                margin-bottom: 25px;
            }
        }

        .order_item {

            border: 1px solid #ebe9c9;
            padding: 20px 15px;

            @media screen and (max-width:768px) {
                margin-bottom: 25px;
            }

            .items {
                border-bottom: 1px solid #ebe9c9;
                padding: 10px 0;

                .img_item {
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                    }
                }

                .price {
                    @media screen and (max-width:576px) {
                        text-align: end;
                    }
                }
            }

            .apply_dicount {
                margin-top: 20px;

                .input_form {
                    width: 100% !important;
                    padding: 10px;
                    background-color: transparent;
                    border-radius: 0;

                    &:hover {
                        box-shadow: 0 0 2px 0px #4C3D3D;
                    }

                    &:focus {
                        box-shadow: 0 0 2px 0px #4C3D3D !important;

                    }

                    input {
                        background-color: transparent;
                    }
                }

                .implement {
                    @media screen and (max-width: 576px) {
                        margin: 25px 0 !important;
                    }

                    .btn_apply {
                        font-weight: 600;
                        color: #000;
                        background: #FFD95A;
                        padding: 12px 25px;
                        margin-left: 15px;
                        transition: .2s;

                        @media screen and (max-width: 576px) {
                            margin-left: 0;
                        }

                        &:hover {
                            transition: .2s;
                            background: #fcaf17;
                        }
                    }
                }


            }

            .total_price {
                margin-top: 20px;

                .backToCart {

                    &:hover {
                        color: #BD8311 !important;
                        transition: 0.2s;
                    }
                }
            }
        }
    }

}