.detail_product {
    font-family: 'Poppins', sans-serif;

    a {
        text-decoration: none;
    }

    .container {
        max-width: 100%;
        padding: 80px 110px;
        margin-top: 67px;

        @media screen and (max-width: 1200px) {
            padding: 80px 60px;
        }

        @media screen and (max-width: 768px) {
            padding: 80px 30px;
        }

        @media screen and (max-width: 500px) {
            padding: 80px 10px;
        }

        .product_detail {

            .img_detail {
                text-align: center;
                padding: 0 15px;

                img {
                    width: 90%;
                    object-fit: cover;

                    @media screen and (max-width:768px) {
                        width: 70%;
                    }

                    @media screen and (max-width:576px) {
                        width: 90%;
                    }
                }
            }

            .content_detail {


                @media screen and (max-width:768px) {
                    padding-left: 50px;
                    margin-top: 50px;
                }

                @media screen and (max-width:426px) {
                    padding-left: 0;
                }

                .pro_cate {
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 1.1px;

                    .category {
                        color: #959595;
                    }
                }

                .addToCart {

                    a {
                        color: #4C3D3D;
                        padding: 15px 30px;
                        font-size: 17px;
                        font-weight: 600;
                        border: 1px solid #000;
                        transition: 0.25s;

                        &:hover {
                            border: none;
                            background-color: #000;
                            color: #fff;
                            transition: 0.25s;
                        }
                    }

                }
            }
        }

        .related_info {

            padding: 100px 0;

            h2 {
                padding: 0 10px;
                font-size: 23px;
                letter-spacing: 1.1px;
                color: #cf2127;
                cursor: default;
                margin-bottom: 30px;
            }

            .related_pro {

                .card_item {
                    border: 1px solid #d8d8d8;

                    &:hover {
                        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.07);
                    }

                    .img_item {
                        padding: 20px;
                        text-align: center;

                        img {
                            width: 80%;
                        }
                    }

                    .content_item {
                        padding: 0 15px;

                        h3 {
                            font-size: 20px;
                            font-weight: 650;
                            color: #4C3D3D;
                            letter-spacing: 1.5px;
                            margin: 15px 0;
                            text-transform: capitalize;
                        }

                        .price_item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 12px;

                            .cur_price {
                                font-size: 16px;
                                font-weight: 600;
                                letter-spacing: 1.2px;
                                text-decoration: line-through;
                                color: #4C3D3D;
                            }

                            .sale_price {
                                color: #FFCC00;
                                font-size: 20px;
                                font-weight: 600;
                            }

                            .dash {
                                width: 8px;
                                height: 2px;
                                background: #4C3D3D;
                                margin: 0 10px;
                            }

                            .cart_plus {

                                span>span {
                                    &:hover {
                                        color: #FFCC00 !important;
                                        transition: 0.2s;
                                    }
                                }
                            }
                        }

                        .res_info {
                            display: flex;
                            align-items: center;
                            margin: 10px 0 0 0;
                            padding: 10px 0;
                            border-top: 1px solid #e9e9e9;

                            .img_res {
                                img {
                                    width: 60px;
                                    height: 60px;
                                    object-fit: cover;
                                }
                            }

                            .res_detail_info {
                                margin-left: 10px;

                                .working_on {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 5px;

                                    span {
                                        margin-left: 7px;
                                        color: #c70909;
                                        font-weight: 600;
                                        font-size: 15px;
                                    }
                                }

                                .res_address {
                                    display: flex;
                                    align-items: center;
                                    margin-top: 5px;
                                    margin-left: 3px;

                                    img {
                                        width: 18px;
                                        height: 18px;
                                    }

                                    span {
                                        color: #757575;
                                        font-size: 15px;
                                        font-weight: 600;
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }


            }

            .voucher {
                padding: 0 15px;

                .img_vou {
                    text-align: center;

                    img {
                        width: 45px;
                        height: 45px;

                        @media screen and (max-width:425px) {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }

                .vou {
                    padding: 0 0 0 7px;

                    span {
                        color: #464646;
                    }
                }
            }
        }
    }
}