// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
// Khai báo kích thước tương ứng với màn hình thiết bị

@mixin Reponsive($canvas) {

    @media only screen and (min-width: $canvas) {
        @content;
    }
}

.bg {
    padding: 100px 0;
    background-color: #fff7d475;

    .login {
        min-height: 100vh;
        width: 50%;
        min-width: 600px;
        max-width: 1024px;
        margin: 0 auto;
        font-family: 'Poppins', sans-serif;



        @media only screen and (max-width: 700px) {
            min-width: calc(100% - 40px);
        }

        h1 {
            margin-top: 50px;
            padding: 20px 0;
        }

        .input_login {
            width: 100% !important;
            padding: 10px;
            background-color: transparent;
            border-color: #4C3D3D;

            &:hover {
                box-shadow: 0 0 2px 0px #4C3D3D;
            }

            &:focus {
                box-shadow: 0 0 2px 0px #4C3D3D !important;

            }

            input {
                background-color: transparent;
            }

        }

        .social {
            padding: 15px 0;
            text-align: center;
            margin-top: 12px;
            font-size: larger;
            font-weight: 500;

            // border-radius: 10px;
            border: 2px solid #DB4437;
            color: #DB4437;
            cursor: pointer;
            transition: 0.3s;

            &:active {
                opacity: 0.8;
            }

            &:hover {
                background: #DB4437;
                color: #fff;
                border-radius: 8px;
            }

            &:last-child {
                &:hover {
                    background-color: #4285F4;
                    color: #fff;
                }

                color: #4285F4;
                border-color: #4285F4;
            }

            @media screen and (max-width:768px) {
                background-color: #DB4437 !important;
                color: #fff !important;

                &:last-child {
                    background-color: #4285F4 !important;
                    color: #fff !important;
                }
            }

        }

        .btn_login {
            width: 100%;
            padding: 16px;
            border: none;
            background-color: #FFD95A;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 1.5px;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #4C3D3D;
                color: #fff;
            }

            &:active {
                opacity: 0.8;
            }
        }
    }
}