.menu {
    width: 100%;

    h2 {
        margin: 0;
        font-size: large;
        letter-spacing: 1.1px;
    }

    .list {
        padding: 30px 12px;

        .item {
            width: 100%;

            .img {
                padding-right: 12px;
            }

            .name {
                font-size: large;
                // width: 100%;
                font-weight: 600;
                letter-spacing: 1.03px;

            }

            .price {
                padding: 12px 0;
                font-size: medium;
                color: red;

                &>span {
                    font-size: small;
                    text-decoration: line-through !important;
                    padding-right: 10px;
                    color: black;
                    font-weight: 200;
                    display: inline-block;
                }
            }

            .activeOrder {
                background-color: greenyellow;
                color: #000;
            }


        }

        .info {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 12px;
            margin-bottom: 20px;
            background-color: #FFF7D4;

            h3 {
                margin: 4px 0;
                font-size: 1.2rem !important;
            }

            p {
                margin: 4px 0px;
                font-weight: 600;
                letter-spacing: 0.2px;

                span {
                    font-weight: 300;

                }
            }
        }

        .coll {
            width: 100%;


            span {
                // width: calc(100% - 34px - 24px);
                display: contents;
            }
        }

        .btn {
            text-align: end;
        }
    }
}