.menu {
    width: 100%;

    h2 {
        margin: 0;
        font-size: large;
        letter-spacing: 1.1px;
    }

    .list {
        padding: 30px 12px;

        .item {
            width: 100%;

            .img {
                padding-right: 12px;
            }

            .name {
                font-size: large;
                // width: 100%;
                font-weight: 600;
                letter-spacing: 1.03px;

            }

            .price {
                padding: 12px 0;
                font-size: medium;
                color: red;

                span {
                    font-size: small;
                    text-decoration: line-through;
                    padding-right: 10px;
                    color: black;
                    font-weight: 200;
                }
            }
        }
    }
}